.header{
  background-color: #3a1139;
  padding: 26px;
}

.navBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.nav-item{
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
}
