<div class="elixir-card">
  <div class="img-container">
    <img src="../../../assets/images/potion.jpg" width="200" alt="potion">
  </div>
  <div class="info-container">
    <div class="details">
      <div>
        <p>Elixir Name:</p>
        <hr class="line">
        <p>Effect:</p>
        <hr class="line">
        <p>Effect duration:</p>
        <hr class="line">
        <p>Difficulty:</p>
        <hr class="line">
      </div>
      <div>
        <p> {{ elixir.name ? elixir.name : 'Unknown' }}</p>
        <hr class="line">
        <p> {{ elixir.effect ? elixir.effect : 'Unknown' }}</p>
        <hr class="line">
        <p> {{ elixir.time ? elixir.time : 'Unknown' }}</p>
        <hr class="line">
        <p> {{ elixir.difficulty ? elixir.difficulty : 'Unknown' }}</p>
        <hr class="line">
      </div>
    </div>
    <p class="sideEffects">Side effect: {{ elixir.sideEffects ? elixir.sideEffects : 'Unknown' }}</p>
  </div>
</div>
